<div class="payment-form">

  <div class="alert alert-success" role="alert">
    <h2><span class="badge bg-secondary">Payment Processed</span></h2>
  </div>
  <div>
    <p>
      <%= @guide_message %>
    </p>
  </div>

</div>
