<div class="payment-form">
    <div>
      <div class="alert alert-danger" role="alert">
        <h2><span class="badge bg-secondary"><%= @issue %></span></h2>
      </div>
    </div>
    <div>
      <p>
        <%= @guide_message %>
      </p>
    </div>
    <br/>
</div>
