<div class="payment-form">
    <div>
      <div class="alert alert-danger" role="alert">
        <h2><span class="badge bg-secondary"><%= @message %></span></h2>
      </div>
    </div>
    <div>
      <p>
        Please go back and try with a supported card service
      </p>
    </div>
    <br/>
</div>
