.payment-form {
  margin-top: 2%;
}

label{
  width: 30%;
}

input{
  width: 100%;
}

.label{
  width: 20%;
  margin: 0 auto;
  text-align: left;
  font-weight: bold;
}

.field_with_errors{
  margin: 0 auto;
  color: red;
  text-align: left;
}
.error{
  margin: 0 auto;
  color: red;
}

.label label{
  text-align: left;
}

.input-box{
  width: 20%;
  margin: 0 auto;
  margin: 1% auto;
}
textarea{
  width: 100%
}
.submit{
  font-weight: bold;
  width: 10%;
  margin: 0 auto;
}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
